<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.danialchoopan.danialkala">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DanialKala">
        <activity android:name=".ui.product.comment.ProductCommentActivity"></activity>
        <activity android:name=".ui.subCategory.ShowSubCategoryActivity" />
        <activity android:name=".ui.cart.UserCartActivity" />
        <activity android:name=".ui.profile.item.favoriteProduct.FavoriteProductIndexActivity" />
        <activity android:name=".ui.profile.item.user.ChangeUserPasswordActivity" />
        <activity android:name=".ui.profile.item.userAddress.UserAddressUpdateActivity" />
        <activity android:name=".ui.profile.item.userAddress.UserAddressAddActivity" />
        <activity android:name=".ui.profile.item.userAddress.UserAddressIndexActivity" />
        <activity android:name=".ui.profile.item.ItemEditProfileActivity" />
        <activity android:name=".ui.profile.UserProfileActivity" />
        <activity
            android:name=".ui.userAuth.PhoneVerifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.userAuth.UserRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.userAuth.UserLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.searchProduct.SearchActivity"
            android:label="@string/title_activity_search" />
        <activity android:name=".ui.productReview.ProductShowReviewActivity" />
        <activity android:name=".ui.showProductsProperties.ShowProductsPropertiesActivity" />
        <activity android:name=".ui.showCategory.ShowCategoryActivity" />
        <activity android:name=".ui.category.ProductCategoryActivity" />
        <activity android:name=".ui.product.ShowProductActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity" />
    </application>

</manifest>